In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df=pd.read_parquet("yellow_tripdata_2021-01.parquet")
#df_iter=pd.read_parquet("yellow_tripdata_2021-01.parquet",iterator=True,chunksize=100000)

In [ ]:
engine=create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [ ]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

In [ ]:
# create empty table
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [ ]:
# create empty table
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

In [ ]:
print(df.head(n=100000000))

In [ ]:
import os

In [ ]:
os.system("wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv -O taxi_zones.csv")

In [ ]:
df1=pd.read_csv("taxi_zones.csv")

In [ ]:
print(pd.io.sql.get_schema(df1,name='yellow_taxi_data_zones',con=engine))

In [ ]:
df1.head(n=0).to_sql(name='yellow_taxi_data_zones',con=engine,if_exists='replace')

In [ ]:
df1.to_sql(name='yellow_taxi_data_zones',con=engine,if_exists='append')